.random-number {
  font-size: 60px;
  font-weight: 700;
  color: #6ab04c;
  position: relative;
  animation: counter 2s infinite;
}

.time {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

@keyframes counter {
  0% {
    margin-bottom: 45px;
    margin-top: 45px;
  }

  30% {
    margin-bottom: 45px;
    margin-top: 45px;
  }

  85% {
    margin-bottom: 45px;
    margin-top: 45px;
  }
}
